<div class="page-content">
    <div class="page-content">
        <div class="row">
            <div class="col-md-2" ng-include="'partials/sidebar.html'"></div>

            <div class="col-md-10">

                <div class="sub-info">
                    <div class="panel panel-default">
                        <div class="panel-heading">All Providers</div>
                        <div class="panel-body">

                            <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">angela.gyc@gmail.com</a>

                            <!-- Table -->
                            <table class="table">
                                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"
                                       id="example">
                                    <thead>
                                    <tr>
                                        <th>Provider Name</th>
                                        <th><a ng-click="orderByField='status'; reverseSort = !reverseSort">Popularity
                                            <span ng-show="orderByField == 'status'"><span
                                                    ng-show="!reverseSort">^</span><span
                                                    ng-show="reverseSort">v</span></span>
                                        </a></th>
                                        <th><a ng-click="orderByField='projectName'; reverseSort = !reverseSort">Ranking
                                            <span ng-show="orderByField == 'projectName'"><span ng-show="!reverseSort">^</span><span
                                                    ng-show="reverseSort">v</span></span>
                                        </a></th>
                                        <th><a ng-click="orderByField='begintime'; reverseSort = !reverseSort">Expertise
                                            <span ng-show="orderByField == 'begintime'"><span
                                                    ng-show="!reverseSort">^</span><span
                                                    ng-show="reverseSort">v</span></span>
                                        </a></th>
                                        <th><a ng-click="orderByField='endtime'; reverseSort = !reverseSort">Keyword <span
                                                ng-show="orderByField == 'endtime'"><span
                                                ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                                        </a></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="provider in allProviders|orderBy:orderByField:reverseSort">
                                        <td>{{provider[0]}}</td>
                                        <td>{{provider[1]}}</td>
                                        <td>{{provider[2]}}</td>
                                        <td>{{provider[3]}}</td>
                                        <td>{{provider[4]}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </table>
                        </div>
                    </div>

        </div>
    </div>
</div>

<div ng-include="'partials/footer.html'"></div>
