<div class="page-content">
    <div class="page-content">
        <div class="row">
            <div class="col-md-2" ng-include="'partials/sidebar.html'"></div>

            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title">Credential</div>
                                <button class="btn btn-default" type="button">Edit</button>
                            </div>
                            <div class="panel-body">

                                <ul class="list-group">
                                    <li class="list-group-item">Username</li>
                                    <li class="list-group-item">Job</li>
                                    <li class="list-group-item">Education</li>
                                    <li class="list-group-item">Email</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <div class="panel-title">Research Area</div>
                                    <button class="btn btn-default" type="button">Edit</button>
                                </div>
                                <div class="panel-body">

                                    <ul class="list-group">
                                        <li class="list-group-item">Username</li>
                                        <li class="list-group-item">Job</li>
                                        <li class="list-group-item">Education</li>
                                        <li class="list-group-item">Email</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">Publication</div>
                    <div class="panel-body">
                        <p>...</p>
                    </div>

                    <!-- Table -->
                    <table class="table">
                        ...
                    </table>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">Projects</div>
                    <div class="panel-body">
                        <p>...</p>
                    </div>

                    <!-- Table -->
                    <table class="table">
                        ...
                    </table>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">Professional Services</div>
                    <div class="panel-body">
                        <p>...</p>
                    </div>

                    <!-- Table -->
                    <table class="table">
                        ...
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>