<div class="page-content">
    <div class="page-content">
        <div class="row">
            <div class="col-md-2" ng-include="'partials/sidebar.html'"></div>

            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-8">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title">Information</div>
                            </div>
                            <div class="panel-body">
                                <input class="form-control" type="text" placeholder="Username" ng-model = "userName"><br>
                                <input class="form-control" type="password" placeholder="Credential" ng-model = "providerInfo.credential"><br>
                                <input class="form-control" type="password" placeholder="Research Area" ng-model = "providerInfo.researchAreas">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">Publication</div>
                    <div class="panel-body">
                        <input class="form-control" type="text" placeholder="Input your Publication" ng-model = "providerInfo.publications">
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">Projects</div>
                    <div class="panel-body">
                        <!-- Table -->
                        <table class="table">
                            <li class="list-group-item">Past</li>
                            <li class="list-group-item">Present</li>
                        </table>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">Professional Services</div>
                    <div class="panel-body">

                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default">consultant</button>
                            <button type="button" class="btn btn-default">design</button>
                            <button type="button" class="btn btn-default">development</button>
                            <button type="button" class="btn btn-default">proof-reading</button>
                        </div>

                    </div>
                </div>

                <div>
                    <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-default">Save</button>
                </div>
            </div>


        </div>

    </div>
</div>

<div ng-include="'partials/footer.html'"></div>