    <div class="sidebar content-box" style="display: block;">
        <ul class="nav">
            <!-- Main menu -->
            <li><a href="#/dashboard"><i class="glyphicon glyphicon-home"></i> Service Publication</a>
                <ul>
                    <a href="#/editService"><i class="glyphicon glyphicon-pencil"></i> Edit </a>
                </ul>
            </li>
            <li class="current"><a href="#/dashboard"><i class="glyphicon glyphicon-stats"></i> Project Publication </a></li>
            <li><a href="#/dashboard"><i class="glyphicon glyphicon-tasks"></i> Forms</a></li>
            <li class="submenu">
                <a href="#">
                    <i class="glyphicon glyphicon-list"></i> Pages<span class="caret pull-right"></span>
                </a>
                <!-- Sub menu -->
                <ul>
                    <li><a href="#/login">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>