<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("img/favicon.png")">
  <link rel="stylesheet" href="@routes.Assets.versioned("css/app.css")">
  <script data-main="@routes.Assets.versioned("js/main.js")" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
</head>
<body>
    <div class="page-header">
      <h1>Research Outsourcing Platform <small>Empower research experience</small></h1>
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#/register">Register</a></li>
          <li role="presentation"><a href="#/login">Login</a></li>
          <li role="presentation"><a href="#">Messages</a></li>
        </ul>
    </div>


  <div ng-view></div>
</body>
</html>